--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128; sys_platform != 'darwin'
torchvision==0.22.0+cu128; sys_platform != 'darwin'
torchaudio==2.7.0+cu128; sys_platform != 'darwin'
torch==2.7.0; sys_platform == 'darwin'
torchvision==0.22.0; sys_platform == 'darwin'
torchaudio==2.7.0; sys_platform == 'darwin'
diffusers==0.27.2
transformers==4.41.2
triton==3.3.0; sys_platform == 'linux' and platform_machine == 'x86_64'
# git+https://github.com/huggingface/transformers.git # Removed in favor of pinned version
wget
